/workspace/
/Werewolves.iml
/out/
/setup/
/srcOld/
/screens/
/.idea/
/werewolvesServer/out/
/werewolvesServer/.idea/
/werewolvesServer/server.iml
/werewolvesServer/src/META-INF/
/werewolvesServer/src/Client.java
