.toggle-button{
  -fx-background-image: url( "../img/backCardSmallDark.png" );
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}

.toggle-button:selected{
  -fx-background-image: url( "../img/backCardSmall.png" );
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}