.toggle-button{
  -fx-background-image: url( -fx-myimage );
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.toggle-button:selected{
  -fx-background-image: url( -fx-myimage );
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}